; {{ ansible_managed }}

[snoopy]
error_logging = {{ 'yes' if snoopy_error_logging|bool else 'no' }}
filter_chain = "{{ snoopy_filter_chain|join(';') }}"
message_format = "[{{ snoopy_message_format|join(' ') }}]: %{cmdline}"
output = {{ snoopy_output }}
syslog_facility = {{ snoopy_syslog_facility }}
syslog_ident = "{{ snoopy_syslog_ident }}"
syslog_level = {{ snoopy_syslog_level }}
